.overlay-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.overlay-overlay-top {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.overlay-top-left-spacer {
  flex: 0 0 auto;
  width: 410px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.overlay-scoreboard {
  flex: 0 0 auto;
  width: 1100px;
  height: 125px;
  display: flex;
  z-index: 100;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-scoreboard-top {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.overlay-full-score-area {
  flex: 0 0 auto;
  width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-blue-scoreboard-area {
  width: 450px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0074f0;
  background: linear-gradient(84deg, #003576, #007ad8 95%, #000000c2 5% );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
.overlay-blue-spacer {
  flex: 0 0 auto;
  width: 25px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.overlay-blue-logo-area {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-logo {
  width: 74px;
  height: 90px;
  align-self: center;
  object-fit: cover;
}
.overlay-blue-team-info-area {
  flex: 0 0 auto;
  width: 225px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.overlay-blue-team-name-area {
  flex: 0 0 auto;
  width: 225px;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.overlay-blue-team-name {
  top: 15px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-series-score {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.overlay-blue-g1 {
  top: -25px;
  color: #000;
  right: -10px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-g2 {
  top: -25px;
  color: #000;
  right: 40px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-g3 {
  top: -25px;
  color: #000;
  right: 90px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-g4 {
  top: -25px;
  color: #000;
  right: 140px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-g5 {
  top: -25px;
  color: #000;
  right: 190px;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-score-area {
  flex: 0 0 auto;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #003576;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}
.overlay-blue-score {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-timer-area {
  flex: 0 0 auto;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.76);
}
.overlay-timer {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-scoreboard-area {
  flex: 0 0 auto;
  width: 450px;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ff6904;
  background: linear-gradient(277deg, #ae5600, #f77400 95%, #000000c2 5% );
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}
.overlay-orange-score-area {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #ae5600;
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}
.overlay-orange-score {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-team-info-area {
  flex: 0 0 auto;
  width: 225px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.overlay-orange-team-name-area {
  flex: 0 0 auto;
  width: 225px;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.overlay-orange-team-name {
  top: 15px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-series-score {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.overlay-orange-g1 {
  top: -25px;
  left: -10px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-g2 {
  top: -25px;
  left: 40px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-g3 {
  top: -25px;
  left: 90px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-g4 {
  top: -25px;
  left: 140px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-g5 {
  top: -25px;
  left: 190px;
  color: #000;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-logo-area {
  flex: 0 0 auto;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-logo {
  width: 74px;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.overlay-orange-spacer {
  flex: 0 0 auto;
  width: 25px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 75px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.overlay-scoreboard-bottom {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.overlay-left-spacer {
  flex: 0 0 auto;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.overlay-info-area {
  flex: 0 0 auto;
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.76);
  clip-path: polygon(0 0, 100% 0, 97.5% 100%, 2.5% 100%);
}
.overlay-info-area-left {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-info-left-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-info-area-middle {
  flex: 0 0 auto;
  width: 267px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.overlay-stage-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-info-area-right {
  flex: 0 0 auto;
  width: 266px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-info-right-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-right-spacer {
  flex: 0 0 auto;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.overlay-top-right-spacer {
  flex: 0 0 auto;
  width: 410px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-overlay-middle {
  width: 100%;
  height: 668px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.overlay-top-spacer {
  width: 100%;
  height: 654px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-name-info-area {
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.overlay-blue-names {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-name-1-area {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #003576, #007ad8);
  visibility:hidden;
}
.overlay-blue-name-area-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
}
.overlay-blue-name-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-name-1-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-info-area-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
}
.overlay-blue-stats-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-blue-goals-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-goal-image-1 {
  flex: 0 0 auto;
  width: 25px;
  height: auto;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-goals-amount-1 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-shots-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-shot-image-1 {
  width: 25px;
  height: auto;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-shots-amount-1 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-assists-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-assist-image-1 {
  width: 25px;
  height: auto;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-assists-amount-1 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-saves-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-save-image-1 {
  width: 25px;
  height: auto;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-saves-amount-1 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-boost-area-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #2c2c2c;
}
.overlay-blue-boost-amount-1 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-name-2-area {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to right, #003576, #007ad8);
  visibility: hidden;
}
.overlay-blue-name-area-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
}
.overlay-blue-name-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-name-2-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-info-area-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-blue-stats-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-blue-goals-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-goal-image-2 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-goals-amount-2 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-shots-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-shot-image-2 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-shots-amount-2 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-assists-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-assist-image-2 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-assists-amount-2 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-saves-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-save-image-2 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-saves-amount-2 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-boost-area-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #2c2c2c;
}
.overlay-blue-boost-amount-2 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-name-3-area {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to right, #003576, #007ad8);
  visibility: hidden;
}
.overlay-blue-name-area-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.overlay-blue-name-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-name-3-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-info-area-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-blue-stats-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-blue-goals-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-goal-image-3 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-goals-amount-3 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-shots-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-shot-image-3 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-shots-amount-3 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-assists-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-assist-image-3 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-assists-amount-3 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-saves-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-blue-save-image-3 {
  width: 25px;
  align-self: flex-end;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-blue-saves-amount-3 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-boost-area-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #2c2c2c;
}
.overlay-blue-boost-amount-3 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-name-info-spacer {
  flex: 0 0 auto;
  width: 1320px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.overlay-orange-names {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.overlay-orange-name-1-area {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to left, #ae5600, #f77400);
  visibility: hidden;
}
.overlay-orange-name-area-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
}
.overlay-orange-name-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-name-1-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-info-area-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-orange-stats-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-orange-goals-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-goal-image-1 {
  width: 25px;
  align-self: center;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-goals-amount-1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-shots-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-shot-image-1 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-shots-amount-1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-assists-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-assist-image-1 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-assists-amount-1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-saves-1 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-save-image-1 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-saves-amount-1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-boost-area-1 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #2c2c2c;
}
.overlay-orange-boost-amount-1 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-name-2-area {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to left, #ae5600, #f77400);
  visibility: hidden;
}
.overlay-orange-name-area-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
}
.overlay-orange-name-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-name-2-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-info-area-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-orange-stats-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-orange-goals-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-goal-image-2 {
  width: 25px;
  align-self: center;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-goals-amount-2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-shots-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-shot-image-2 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-shots-amount-2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-assists-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-assist-image-2 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-assists-amount-2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-saves-2 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-save-image-2 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-saves-amount-2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-boost-area-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #2c2c2c;
}
.overlay-orange-boost-amount-2 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-name-3-area {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to left, #ae5600, #f77400);
  visibility: hidden;
}
.overlay-orange-name-area-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
}
.overlay-orange-name-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-name-3-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-info-area-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
}
.overlay-orange-stats-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-orange-goals-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-goal-image-3 {
  width: 25px;
  align-self: center;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-goals-amount-3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-shots-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-shot-image-3 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-shots-amount-3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-assists-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-assist-image-3 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-assists-amount-3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-saves-3 {
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-orange-save-image-3 {
  width: 25px;
  object-fit: cover;
  fill: #FFFFFF;
}
.overlay-orange-saves-amount-3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-boost-area-3 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
  background-color: #2c2c2c;
}
.overlay-orange-boost-amount-3 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-overlay-bottom {
  width: 100%;
  height: 288px;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay-spectating-area {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-blue-spectating-area {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: #fff;
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #003576, #007ad8);
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  visibility: hidden;
}
.overlay-blue-spectating-name-area {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.overlay-blue-spectating-name {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-blue-spectating-boost-area {
  flex: 0 0 auto;
  width: 100%;
  height: 15px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  background-color: #2c2c2c;
}
.overlay-spectating-spacer {
  flex: 0 0 auto;
  width: 1520px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
}
.overlay-orange-spectating-area {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: #fff;
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to left, #ae5600, #f77400);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  visibility: hidden;
}
.overlay-orange-spectating-name-area {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: center;
}
.overlay-orange-spectating-name {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-orange-spectating-boost-area {
  flex: 0 0 auto;
  width: 100%;
  height: 15px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  background-color: #2c2c2c;
}
.overlay-replay-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  justify-content: flex-start;
  background: linear-gradient(to top, #AE8625, #0000 85%);
  visibility: hidden;
}
.overlay-replay-logo-area {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.overlay-replay-logo-text {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
}
.overlay-replay-stats-area {
  flex: 0 0 auto;
  width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.overlay-scored-by-area {
  flex: 0 0 auto;
  width: 367px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.overlay-scored-by-text {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
  color: #FFFFFF;
  padding-right: 5px;
}
.overlay-scored-by-player-name {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
  color: #FFFFFF;
}
.overlay-assist-area {
  flex: 0 0 auto;
  width: 367px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.overlay-assist-text {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
  color: #FFFFFF;
  padding-right: 5px;
}
.overlay-assist-player-name {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
  color: #FFFFFF;
}
.overlay-speed-area {
  flex: 0 0 auto;
  width: 366px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.overlay-speed-text {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
  color: #FFFFFF;
  padding-right: 5px;
}
.overlay-speed-value {
  font-size: 20px;
  font-style: italic;
  font-family: Quantico;
  font-weight: 700;
  color: #FFFFFF;
}